
html {
    background: url(image01.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto', 'sans-serif';
}

h3 {
    margin-top: 0px;
    margin-bottom: 8px;
}

p {
    margin-top: 0px;
    margin-bottom: 4px;
}

.businesscard {
    position: fixed;
    bottom: 20px; left: 20px;
    margin: auto;
    width: 220px;
    height: 140px;

    background: #4F4F4F;
    background: rgba(79,79,79,0.90);
    padding: 22px 32px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.95);
    -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.95);
    -box-shadow: 0 0 18px rgba(0, 0, 0, 0.95);
}

.grid {
    border-spacing: 0px;
}

.icons {
    width: 25px;
    text-align: right;
}

.center {
    text-align: center;
}

.leftspacer {
    width: 15px;
}

.rightspacer {
    width: 15px;
    border-left: 1px solid black;
}
